app_dependencies:
  type: None
  content: ''
app_deploy:
  type: text
  content: |
    #/bin/sh

    HELM_OPTS="--set clusterIP=${ROOST_JUMPHOST_IP},registry=zbio,namespace=${ROOST_NAMESPACE}"


    helm upgrade test-app-helm-vote helm-vote -n $ROOST_NAMESPACE --create-namespace --install $HELM_OPTS
app_test: []
app_uninstall:
  type: text
  content: |+
    #!/bin/sh

app_docker_compose: ''
lastUpdatedBy: Garvit Jethwani
lastUpdatedOn: 2023-04-14T15:40:25.853Z
