build:
  type: None
  content: ''
deploy:
  type: text
  content: |2-
     #/bin/sh

     docker-compose -f docker-compose.yaml up -d
test:
  - name: ballot
    configType: artillery
    configPath: ballot/test/test.yaml
uninstall:
  type: text
  content: |-
    #!/bin/sh

    docker-compose -f docker-compose.yaml down
dockerCompose: docker-compose.yaml
lastUpdatedBy: harish
lastUpdatedOn: 2023-03-10T04:40:20.912Z
